<div class="container p-4">
    <div class="row">
        <div class="col-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Locations</h3>
                    <h4></h4>
                    <a href="/locations/add" class="btn btn-primary m-4">
                        Create One!
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container p-4">
    <div class="row">
        {{#each locations}}
        <div class="card text-center">
        <div class="card" style="width: 18rem;">
            <img src="/uploads/locations/{{photo}}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{description}}</h5>
                <p>{{timeago created_at}}</p>
                        <a href="javascript:preguntar({{id}},'{{description}}')" class="btn btn-danger">Delete</a>
                        <a href="/locations/edit/{{id}}" class="btn btn-secondary">Edit</a>
            </div>
        </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>There are not locations save yet.</p>
                <a href="/locations/add">Create One!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script type="text/javascript">
function preguntar(idSupplier,name){
   eliminar=confirm("¿Deseas eliminar este registro? "+name);
   if (eliminar)
   //Redireccionamos si das a aceptar
     window.location.href="/locations/delete/"+idSupplier+""
}
</script> 